{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input type="submit" class="btn btn-primary" value="{{ 'Convert' | trans }}" />
            </div>
        </div>
    {{ form_end(form) }}

    {% if result is defined and result is not empty %}
        <div class="row">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <textarea cols="120" rows="10" class="form-control">{{ result | raw }}</textarea>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
