
{{ form_start(form) }}
        {#{{ form_widget(form) }}#}
    {% for row in form.rows %}
        {{ form_widget(row) }}
    {% endfor %}

<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <input type="submit" class="btn btn-primary" value="{{ 'Convert' | trans }}" />
    </div>
</div>
{{ form_end(form) }}
